*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
  --white: #fff;
  --openSans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}

body {
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: var(--violet);
  color: var(--white);
  text-align: center;
  font-family: var(--openSans);
}

h1 {
  font-family: var(--poppins);
  margin: 10px 0;
}

header {
  text-align: left;
  margin: 1em 0;
}

section {
  margin: 30px 0;
}

p {
  padding: 0 2em;
  margin: 20px 0;
}

i {
  border-radius: 50%;
  border: 1px solid var(--white);
  padding: 8px;
}

.container {
  padding: 2em;
}

.logo {
  height: 35px;
}

.illustration {
  width: 350px;
  height: auto;
  margin: 20px 0;
}

.register-btn {
  background-color: var(--white);
  font-family: var(--openSans);
  font-weight: 400;
  color: var(--violet);
  padding: 0.8rem 5.5rem;
  border: none;
  border-radius: 30px;
  margin: 15px 0;
}

.icon-container {
  margin: 15px 0;
}

.icon-container i {
  margin: 0 15px;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
}
.attribution a {
  color: var(--white);
}


@media (min-width: 1020px) {

  section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
  }

  section > div {
    padding: 4em 3em;
  }

  h1 {
    text-align: center;
    padding-right: 30px;
    font-size: 1.8em;
  }

  header {
    margin-bottom: 40px;
  }

  .register-btn {
    margin: 0 30px;
  }

  .register-btn:hover {
    background-color: var(--softMagenta);
  }

  .container {
    padding: 3em;
    text-align: left;
  }

  .illustration {
    width: 950px;
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .icon-container i {
    margin: 0 10px; 
  }

  .icon-container i:hover {
   color: var(--softMagenta);
   border: 1px solid var(--softMagenta);
  }

  .attribution {
    font-size: 1.2rem;
  }

}